
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Build files
/npm
/node_modules
/build
/target
/dist
/dist-schema
/tmp
/out-tsc

# misc
*.log*
/**/*.log*

# System Files
.DS_Store
Thumbs.db