<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${cv.firstName} ${cv.lastName}|">Curriculum Vitae</title>
    <!-- External CSS (website) -->
    <link rel="stylesheet" href="../static/css/standard.css" th:href="@{css/standard.css}" media="all">
    <!-- Inlined CSS -->
    <!-- This is required for the current application because we just generate HTML (no server) -->
    <style th:utext="${cssContent}"></style>

</head>
<body>

    <!-- ============ HEADER ============ -->
    <header class="cv-header" aria-label="Personal data">
        <h1 class="header-name" th:text="|${cv.firstName} ${cv.lastName}|" id="name" aria-label="Name">FirstName LastName</h1>
        <p><span th:text="${cv.jobTitle}" aria-label="Job title" id="jobTitle">jobTitle</span></p>
        <div class="header-contact">
            <!-- Contacts -->
            <p aria-label="contact">
                <span aria-hidden="true">📧</span> <a id="email" th:href="'mailto:' + ${cv.email}" th:text="${cv.email}" th:title="${cv.email}" aria-label="Email">Email</a>
                | <span aria-hidden="true">📞</span> <a id="phone" th:href="'tel:' + ${cv.phone}" th:text="${cv.phoneDisplay}" th:title="${cv.phoneDisplay}" aria-label="Phone">Phone</a>
                | <span aria-hidden="true">🌐</span> <a id="linkedIn" th:href="${cv.linkedIn}" th:text="LinkedIn" th:title="LinkedIn" target="_blank" aria-label="LinkedIn">_LinkedIn_</a>
            </p>
            <!-- Civility -->
            <p>
                <span th:text="#{header.gender}">i18n_Gender:</span> <span th:text="${cv.gender}" aria-label="Gender">gender</span>
                | <span th:text="#{header.citizenship}">i18n_Nationality:</span> <span th:text="${cv.nationality}" aria-label="Nationality">nationality</span>
                | <span th:text="#{header.birthDate}">i18n_Birth date:</span> <span th:text="${cv.birth.date}" aria-label="Birth date">birthDate</span>
                | <span th:text="#{header.birthPlace}">i18n_Place of birth:</span> <span th:text=" ${cv.birth.city} + ', ' + ${cv.birth.country}" aria-label="Place of birth">birthPlace</span>
            </p>
            <!-- Home address -->
            <p>
                <span th:text="#{header.address}">i18n_header.address</span>&nbsp;<span id="address" th:text="${cv.address.city + ', ' + cv.address.country}">City, Country</span>
            </p>
        </div>
    </header>

    <!-- ============ MAIN CONTENT ============ -->
    <main>

        <!-- ====== EXPERIENCE ====== -->
        <section class="cv-section">
            <h2 class="cv-section-title" th:text="#{section.header.experience}">Experience</h2>

            <div class="experience-item" th:each="exp : ${cv.experiences}">
                <div class="experience-header">
                    <!-- Mission title - Subtitle -->
                    <div class="experience-main">
                        <h3 th:text="${exp.jobTitle}">JobTitle</h3>
                        <span th:if="${exp.jobSubtitle != null}">&nbsp;—&nbsp;</span>
                        <span class="job-subtitle" th:if="${exp.jobSubtitle != null}" th:text="${exp.jobSubtitle}"></span>
                    </div>
                    <!-- Company name and location -->
                    <div>
                        <span class="company-name" th:text="${exp.company.name}">CompanyName</span>
                        <span> — </span>
                        <span class="company-location" th:text="${exp.company.location.city} + ', ' + ${exp.company.location.country}">city, country</span>
                    </div>
                    <!-- Company ... Dates -->
                    <div class="experience-dates">
                        <span th:if="${exp.dates.endTime == null}" th:text="|#{experience.date.since} |">...since...</span>
                        <time th:datetime="${#temporals.format(exp.dates.startTime.date, 'yyyy-MM-dd')}" th:text="${#temporals.format(exp.dates.startTime.date, 'MMM yyyy')}">Jan 1970</time>
                        <span th:if="${exp.dates.endTime != null}">&nbsp;–&nbsp;</span>
                        <time th:if="${exp.dates.endTime != null}" th:datetime="${#temporals.format(exp.dates.endTime.date, 'yyyy-MM-dd')}" th:text="${#temporals.format(exp.dates.endTime.date, 'MMM yyyy')}">Dec 1970</time>
                    </div>
                </div>
                <!-- Tasks -->
                <div class="task-list">
                    <!-- <span th:text="${exp.tasks}">Tasks</span> -->
                    <th:block th:each="task : ${exp.tasks}">
                        <!-- Task title -->
                        <span th:if="${!task.text.isBlank}" th:text="${task.text}">Task text</span>
                        <!-- Sub-items -->
                        <ul class="tasks" th:if="${!task.subItems.isEmpty}">
                            <li th:each="sub : ${task.subItems}" th:text="${sub}">Sub-item</li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </section>

        <!-- ====== EDUCATION ====== -->
        <section class="cv-section">
            <h2 class="cv-section-title" th:text="#{section.header.education}">Education</h2>

            <!-- Use pre-sorted list from context -->
            <div th:each="edu, iterStat : ${cv.education}" class="cv-education-item">
                <h3 th:text="${edu.diploma.name}">Diploma</h3>
                <span class="edu-eqf" th:if="${edu.diploma.europeanLevel != null}" th:text="|#{education.eqf} (${edu.diploma.europeanLevel()})|">EQF level</span>
                <div class="edu-time">
                    <span th:text="${edu.diploma.year}">eduTime</span> - <span th:text="${edu.school.location.city} + ', ' + ${edu.school.location.country}"></span>
                </div>
            </div>
        </section>

        <!-- ====== LANGUAGES ====== -->
        <section class="cv-section">
            <h2 class="cv-section-title" th:text="#{section.header.languages}">Languages</h2>

            <div class="lang-list">
                <div th:each="lang : ${cv.languages}" class="lang-item">
                    <div class="lang-name" th:text="${lang.language}">Langue</div>
                    <div class="lang-level" th:text="${lang.level}">Niveau</div>
                    <div class="lang-desc" th:text="${lang.motherTongue} ? #{language.level.native} : ${lang.description}">Description</div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
